{% extends 'base.html' %}

{% block body_block %}
<section>
      <div class="container">
        <h1 style="margin-top: 40px;">Membership</h1>
              <hr style="height:4px;border-top:4px solid #f00; margin-top: 5px;" />
      <h3>Membership Level</h3>
      <table class="table table-hover tableless">
        <thead>
          <tr>
            <th>Business</th>
            <th>Membership Annual Dues</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Business Size: 1-2 employees</td>
            <td>$150.00</td>
          </tr>
          <tr>
            <td>Business Size: 3-10 employees</td>
            <td>$200.00</td>
          </tr>
          <tr>
            <td>Business Size: 11-50 employees</td>
            <td>$250.00</td>
          </tr>
          <tr>
            <td>Business Size: 51-100 employees</td>
            <td>$500.00</td>
          </tr>
          <tr>
            <td>Business Size: 101-250 employees</td>
            <td>$1,000.00</td>
          </tr>
          <tr>
            <td>Business Size: 251-500 employees</td>
            <td>$1,500.00</td>
          </tr>
          <tr>
            <td>Business Size: 501+ employees	</td>
            <td>$2,000.00</td>
          </tr>
          </tbody>
          <thead>
            <tr>
              <td>Non-Profit Organization, one year membership</td>
            </tr>
          </thead>
           <thead>
          <tr>
            <th>Business</th>
            <th>Membership Annual Dues</th>
          </tr>
        </thead>
          <tbody>
          <tr>
            <td>(Budget up to $1 million)</td>
            <td>$150.00</td>
          </tr>
          <tr>
            <td>Professional</td>
            <td>$100.00</td>
          </tr>
          <tr>
            <td>Student	 </td>
            <td>$0.00</td>
          </tr>
          
        </tbody>
      </table>
        
      </div>
      
    </section>

{% endblock %}
