{% extends 'base.html' %}

{% block body_block %}
     
          <!-- Sources -->
      <section id="sources">
          <div class="container">
             <h1 style="margin-top: 40px;">Resources</h1>
              <hr style="height:4px;border-top:4px solid #f00; margin-top: 5px;" />
             <h3>Building Our Community</h3>
                <p>We are committed to building a community by providing a link for Haitian businesses and professionals to access available resources</p>
              <div class="row">
                 <!-- col 1 -->
                  <div class="col-md-6 text-center">
                     <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="https://www.cityofboston.gov/slbe/search/">City of Boston Small and Local Business Enterprise Office</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                        <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="https://www.miracoalition.org/images/stories/pdf/mira-guide-for-immigrant-entrepreneurs.pdf">Starting a Business in Massachusetts: A Guide for New American Entrepreneurs </a></p>
      
                                </blockquote>
                            </div>
                        </div>
                        <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="https://www.boston.gov/departments/neighborhood-development#page/BusinessDevelopment">City of Boston Neighborhood Development</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                        <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="http://www.mass.gov/eea/agencies/massdep/water/grants/notice-of-new-11disadvantaged-business-enterprise-program.html">Disadvantage Business Enterprise Program – Massachusetts</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                        <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="https://www.msbdc.org/network.html">Massachusetts Small Business Development Network</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                        <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="http://www.mass.gov/courts/case-legal-res/law-lib/laws-by-subj/about/smallbusiness.html">Information for Small Businesses in Massachusetts </a></p>
      
                                </blockquote>
                            </div>
                        </div>
                          <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="http://www.haiticgboston.org/">Haitian Consulate in Bostons</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                         <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="http://haiti.org/">Embassy of the Republic of Haiti</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                         <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p><a target="_blank" href="https://www.sba.gov/offices/district/ma/boston">U.S. Small Business Administration</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                  </div>
                  
                  <!-- end col 1 -->
                  <!-- col 2 -->
                  <div class="col-md-6 text-center">
                     <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="https://ambergrantsforwomen.com/business-grants-women-massachusetts/">Small Business Grants for Women in Massachusetts</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                       <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="https://www.sba.gov/sites/default/files/files/resourceguide_3162.pdf">U.S. Small Business Administration Resource Guide for Small Businesses </a></p>
      
                                </blockquote>
                            </div>
                        </div>

                       
                         <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="http://www.mass.gov/mcad/">Massachusetts Commission Against Discrimination</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                         <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="http://www.mass.gov/export/links.htm">Massachusetts Export Center</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                          <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="https://www.boston.gov/departments/human-resources/career-center">City of Boston Career Center</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                         <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="http://www.mass.gov/portal/business/">Commonwealth of Massachusetts</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                         <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="http://www.mass.gov/ago/">Massachusetts Attorney General Offices</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                         <div class="card  mb-3 text-center resource-col">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                      <p><a target="_blank" href="https://www.sec.state.ma.us/cor/">Massachusetts Division of Corporations</a></p>
      
                                </blockquote>
                            </div>
                        </div>
                      
                  </div>
                  <!-- end col 2 -->
              </div>
              
                      <div class="card  card-outline-secondary mb-3 text-center">
                          <div class="card-block">
                                <blockquote class="card-blockquote">
                                     <p>For additional resources visit the pages listed below</p>
                                     <footer><p><a target="_blank" href="https://www.sec.state.ma.us/cis/ciswel/weltomas.htm"><cite title="Source Title">Moving to Massachusetts </cite></a></p> </footer>
    </blockquote>
                                      
      
                                </blockquote>
                            </div>
                        </div>
                  
              
              
              
              
          </div>
      </section>
      
      {% endblock %} 